body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: grey;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.sidebar {
    height: 95%;
    width: 170px;
    position: fixed;
    top: 10px;
    left: -250px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    transition: left 0.3s;
    z-index: 1000;
    border-radius: 20px;
}

.sidebar.open {
    left: 0;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px;
    text-align: center;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 150%;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: white;
    color: #428bca;
}

.sidebar-toggle {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1100;
}

.sidebar-toggle.hidden {
    display: none;
}

.close-sidebar {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.box:nth-child(odd){
    transform: translateY(-16px);   
}

.box:nth-child(even){
    transform: translateY(16);
}

.box::after{
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10x, 10px,10px,14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}
.box:hover::after{
    transform: translateY(0);
    opacity: 1;
    transition: 400ms;
}
/*Text*/
.bgyo {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 200%;
    text-align: center;
}

/*Team2bgyo*/
.team2 {
    text-align: center;
    margin-top: 10px;
}

.team2 img {
    max-width: 300%;
    margin-top: 40px;
    height: 900;
    width: 1200px; /* Adjust this value to make the image smaller or larger */
    border-radius: 20px;
}
/*FOOTER*/
.footer {
    padding: 20x;
    margin-top: 100px;
    color: #fff;
    font-size: 100%;
    text-align: center;
    background-color: grey;
    border-radius: 20px;
}
.footer h1{
    font-size: 20px;
    

}
.footer h2{
    font-size: 17px;
}